h1
{
    color: hotpink;
    border-bottom: 10px dotted purple;
}
.job-title
{
    font-style: italic;
}
a:hover
{
    color: green;
    text-decoration: underline green;
}
ul
{
    padding: 50px;
    background-color: #eeeeee;
    border: solid purple;
}