*
{
    margin: 0px;
    padding: 0px;
    background-color: #c8c8c8;
}
fieldset
{
    padding: 1%;
}
#entete
{
    padding: 1%;
    width: 100%;
    background-color: grey;
    position: fixed;
    z-index: 2;
}
.container
{
    padding: 2%;
    z-index: 1;
    top: 200px;
    position: relative;
}
.formHead
{
    text-align: center;
}
.Enseignement
{
    text-align: center;
}
.contInline
{
    width: 100%;
    background-color: aqua;

}
.demi
{
    width: 47%;
    display: inline-block;
    
}