*{
    padding: 0px;
    margin: 0px;
}
header
{
    position: relative;
}



nav
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #3e3a3b;
    width: 100%;
    color: rgb(9, 219, 9);
}
/* Button system */
a
{
    display: inline-block;
    color: rgb(9, 219, 9);
}
a:hover
{
    color: rgb(8, 153, 8);
}
.button
{
    width: 100%;
    background-color: #525252;
    border: solid black 2px;
}
.button:hover
{
    background-color: #242424;
}
.bannerImg
{
    width: 100%;
}
.bannerTitle
{
    position: absolute;
    top: 0px;
    left: 0px;
    color: purple;
}