@font-face {
    font-family: "arcade";
    src: url("/font/PressStart2P-Regular.ttf") format("truetype");
   }
   

*{
    font-family: arcade;
    color: rgb(9, 219, 9);;
    padding: 0px;
    margin: 0px;
}
body
{
    background-color: black;
    back
}
header
{
    position: relative;
}
nav
{
    position: absolute;
    display: flex;
    bottom: 0px;
    flex-direction: row;
    background-color: #3e3a3b;
    width: 100%;
    color: rgb(9, 219, 9);
}
/* Button system */
a
{
    color: rgb(9, 219, 9);
    text-decoration: none;
}
a:hover
{
    color: rgb(8, 153, 8);
}
ul
{
    padding-left: 20%;
}

.button
{
    padding: 5px;
    background-color: #525252;
    border: solid black 2px;
}
.button:hover
{
    background-color: #242424;
}
.logoHyrome
{
    position: absolute;
    width: 80%;
    background-color: rgba(32%, 32%, 32%, 50%);
}
.bannerImg
{
    width: 100%;
}

.container
{
    display: flex;
    flex-wrap: wrap;
}
h3,h2
{
    font-size: 1.5em;
    margin-bottom: 5px;
}

.about
{
    font-size: 0.7em;
    padding: 5px;
    flex: 20%;
    height: 100%;
    border: #242424 solid;
}
.main_info
{
    padding: 20px;
    height: 100%;
    flex: 70%;
}
footer
{
    padding: 20px;
   
    background: #525252;
}

