:root {
    --main-bg-color: pink;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
}

body > header {
    grid-column: 1 / 8;
    background-color: aqua;
}

body > div {
    grid-column: 2/8;
    grid-row: 2/7;
    background-color: purple;
    
}

body > nav {
    grid-column: 1;
    grid-row: 2 / 7;
    background-color: var(--main-bg-color);
}

body > footer {
    background-color: green;
    grid-column: 1 / 8;
    grid-row: 7;
}