/* --- MAIN ---*/
main {
    padding: 10px;
}
form {
    height: 100%;
    display: grid;
    row-gap: 13%;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    overflow: auto;
}
input {
    padding: 5px;
    background-color: var(--main-background-color);
    border: solid var(--main-border);
    border-radius: 5px;
    grid-column: 2/5;
    width:98%;
}
input:hover{
    background-color: rgb(212, 142, 67);
}
input[type=text] {
    color: white; 
}
input[type=date] {
    width: 50%;
    font-weight: bold;
}
input[type=submit] {
    width: 75%;
    grid-column: 2;
    font-weight: bold;
}
input[type=number]{
    width: 90%;
    color: white;
    grid-column: 2;
}
#tel{
    grid-column: 4;
}
input[type=reset] { 
    width: 75%;
    margin-left: 25%;
    grid-column: 4;
    font-weight: bold;
}
form > label {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

form > fieldset
{
    padding: 5px;
    grid-column: 2/5;
    border: solid 2px black;
}
form > fieldset > legend
{
    color: black;
}