body > form {
	background-color: var(--main-background);
	border-radius: 10px;
	border: solid var(--main-border) 2px;
	grid-column: 2;
	grid-row: 2;
	margin: 5% 0px 5% 0px;
}

form {
	padding: 5px;
	grid-gap: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 3fr;
	text-align: center;
	color: white;
}

label {
	color: white;
}

input {
	width: 95%;
	color: var(--main-background-color);
	height: 30px;
}
input::placeholder {
	color: var(--main-background-color);
}