@font-face {
    font-family: "baloo";
    src: url("/font/BalooDa2-VariableFont_wght.ttf") format("truetype");
   }

:root {
    --main-background: #ffd8a8;
    --main-background-color: #fea94c;
    --main-background-hover: #ffc176;
    --main-border: #ffa94d;
}

*{
    margin: 0px;
    padding: 0px;
    color: red;
}

body {
    font-family: baloo;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    width: 100%;
    height: 100vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

body > header, main, nav, footer {
    background-color: var(--main-background);
    border-radius: 10px;
    border: solid var(--main-border) 2px;
}

body > header {
    grid-column: 1 / 3;
}
body > main {
    grid-column: 2;
    grid-row: 2;
}
body > nav {
    grid-column: 1;
    grid-row: 2;
}
body > footer {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 10px;
}
/* --- HEADER ---*/
body > header{
    display: grid;
    grid: auto-flow / 2fr 4fr 2fr;
    text-align: center;
    align-items: center;
}

body > header > div > img{
    width: max-content;
}
body > header > div > h2{
    color: #dea52f;
}

/* --- NAV ---*/
body >  nav {
    display: grid;
    grid: auto-flow / 2fr;
    padding: 10px;
}
body > nav > a {
    text-decoration: none;
    border-radius: 10px;
    border: solid var(--main-border) 2px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
body > nav > a:hover {
   background-color: var(--main-background-hover);
}

.pageActive{
    background-color: var(--main-background-color);
}

.icon{
    font-size: 500%;
    color: black;
    
}

body > nav > a > img {
    height: 100%;
    width: 100%;
}
body > nav > a > span {
    font-size: 100%;
    font-weight: bold;
}
/* --- MAIN ---*/
main {
    padding: 10px;
}
form {
    height: 100%;
    display: grid;
    row-gap: 13%;
    grid-template-columns: 1fr 2fr 2fr;
    overflow: auto;
}
input {
    padding: 5px;
    background-color: var(--main-background-color);
    border: solid var(--main-border);
    border-radius: 5px;
    grid-column: 2/4;
    width:98%;
}
input:hover{
    background-color: rgb(212, 142, 67);
}
input[type=text] {
    color: white; 
}
input[type=date] {
    width: 50%;
    font-weight: bold;
}
input[type=submit] {
    width: 75%;
    grid-column: 2;
    font-weight: bold;
}
input[type=reset] { 
    width: 75%;
    margin-left: 25%;
    grid-column: 3;
    font-weight: bold;
}
form > label {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

form > fieldset
{
    padding: 5px;
    grid-column: 2/4;
    border: solid 2px black;
}
form > fieldset > legend
{
    color: black;
}