@font-face {
    font-family: "baloo";
    src: url("/font/BalooDa2-VariableFont_wght.ttf") format("truetype");
   }

:root {
    --main-background: #ffd8a8;
    --main-background-color: #fea94c;
    --main-background-hover: #ffc176;
    --main-border: #ffa94d;
    --main-gold: #dea52f;
}

*{
    margin: 0px;
    padding: 0px;
    color: red;
}

body {
    font-family: baloo;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    width: 100%;
    height: 100vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

body > header, main, nav, footer {
    background-color: var(--main-background);
    border-radius: 10px;
    border: solid var(--main-border) 2px;
}

body > header {
    grid-column: 1 / 3;
}
body > main {
    grid-column: 2;
    grid-row: 2;
}
body > nav {
    grid-column: 1;
    grid-row: 2;
}
body > footer {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 10px;
}
/* --- HEADER ---*/
body > header{
    display: grid;
    grid: auto-flow / 2fr 4fr 2fr;
    text-align: center;
    align-items: center;
}

body > header > div > img{
    width: max-content;
}
body > header > div > h2{
    color: var(--main-gold);
}

/* --- NAV ---*/
body >  nav {
    display: grid;
    grid: auto-flow / 2fr;
    padding: 10px;
}
body > nav > a {
    text-decoration: none;
    border-radius: 10px;
    border: solid var(--main-border) 2px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
body > nav > a:hover {
   background-color: var(--main-background-hover);
}

.pageActive{
    background-color: var(--main-background-color);
}

.icon{
    font-size: 500%;
    color: black;
    
}

body > nav > a > img {
    height: 100%;
    width: 100%;
}
body > nav > a > span {
    font-size: 100%;
    font-weight: bold;
}
