:root {
    --tabl-background-one: #fedab8;
    --tabl-background-two: #d3d3d3;
    --tabl-border: #ffffff;
}
main > h1{
    text-align: center;
}
.font-gold-color{
    color: var(--main-gold);
    font-weight: bold;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    text-align: center;
    border: solid var(--tabl-border) 2px;
    width: 95%;
    height: 70%;
    background-color: var(--tabl-background-one);
}
th{
    background-color: var(--tabl-background-one);
}

th, tr, td{
    border: 1px solid var(--tabl-border);
    height: 10px;
    color: inherit;
}
tr:nth-child(odd) {
    background-color: var(--tabl-background-two);  
}
.end-table > td {
    background-color: var(--tabl-background-one);
}
.no-table{
    border: none;
}